.panel {
-webkit-box-shadow: none;
}

.developers li{
     list-style: none;
}

.btn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0px;
    float: right;
    margin-right: 10px;
}

.btn-Delete {
    border: 1px solid green;
}

.btn-Succes {
    border: 1px solid red;
}