<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
         <ul *ngFor = "let developer of developers" class="developers">
              <li>{{developer.id}}.{{developer.name}},{{developer.familyName}},{{developer.state}},{{developer.phone_number}}
                  <button type="button" class="btn btn-danger">Delete</button>
                  <button type="button" class="btn btn-success">Edit</button>
              </li>
         </ul>
      </div>
    </div>
  </div>  
</div>  
