<div class="panel">
  <div class="panel-body">
    <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" class="form-control" [(ngModel)] = "nameName" placeholder="Name" name ="nameName">
    </div>
    <div class="input-group">
          <span class="input-group-addon">Family</span>
          <input type="text" class="form-control" [(ngModel)] = "familyName" placeholder="Family Name" name ="familyName">
    </div>
    <div class="input-group">
      <span class="input-group-addon" >City</span>
      <input type="text" class="form-control" [(ngModel)] = "cityName" placeholder="City">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon3">State</span>
      <input type="text" class="form-control"  [(ngModel)] = "stateName" placeholder="State" >
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon3">Mob</span>
      <input type="text" class="form-control" [(ngModel)] = "mobName" placeholder="Mob">
    </div>
    <div class="row add-buttons">
        <div class="col-md-6">
              <button type="button" class="btn btn-success addButton" 
              (click)="addDeveloper(nameName,familyName,cityName,stateName,mobName)">Add</button>
        </div>
          <div class="col-md-6">
             <button type="button" class="btn btn-warning deleteButton" (click) = "deleteDeveloper()">Delete</button>
        </div>
    </div>
  </div>
</div>

<ul *ngFor ="let developer of developers">
  <li>{{developer}}</li>
</ul>


