<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" class="form-control" placeholder="Name">
   </div>
    <div class="input-group">
      <span class="input-group-addon" >City</span>
      <input type="text" class="form-control" placeholder="City" >
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon3">State</span>
      <input type="text" class="form-control" placeholder="State" >
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon3">Mob</span>
      <input type="text" class="form-control" placeholder="Mob">
    </div>
    <div class="row add-buttons">
        <div class="col-md-6">
               <button type="button" class="btn btn-success addButton">Add</button>
        </div>
         <div class="col-md-6">
               <button type="button" class="btn btn-warning deleteButton">Delete</button>
        </div>
    </div>
  </div>  
</div>  
